node_modules
package-lock.json
config.json
*.db*
nohup.out
*.ogg*
/sounds
cook/oggduration
cook/oggmeta
cook/oggstender
cook/oggcorrect
cook/oggtracks
cook/wavduration
server/ennuicastr.js
server/ennuicastr-beta.js
