node_modules
config.json
*.db*
nohup.out
*.ogg*
/sounds
cook/oggduration
cook/oggmeta
cook/oggstender
cook/oggcorrect
cook/oggtracks
cook/wavduration
server/ennuicastr.js
server/ennuicastr-beta.js
web/assets/js/localforage.min.js
web/assets/libav/libav*
web/assets/libs/libspecbleach*
web/assets/libs/yalap*
web-js/download-chooser/dist/
web-js/download-processor/dist/
web/ecdssw.min.js
web/panel/rec/dl/ennuicastr-download-chooser*
web/panel/rec/dl/ennuicastr-download-processor*
