{
    "site": "https://ennuicastr.com/",
    "panel": "https://ennuicastr.com/panel/",
    "client": "https://r.ennuicastr.com/",
    "lobby": "https://l.ennuicastr.com/",
    "ennuizel": "https://ez.ennuicastr.com/",
    "clientRepo": "~/ennuicastr",
    "repo": "~/ennuicastr-server",
    "db": "~/ennuicastr-server/db",
    "rec": "~/ennuicastr-server/rec",
    "sounds": "~/ennuicastr-server/sounds",
    "cert": "~/cert",
    "sock": "/tmp/ennuicastr-server.sock",
    "lobbysock": "/tmp/ennuicastr-lobby-server.sock",

    "creditCost": {
        "currency": 100,
        "credits": 3600
    },
    "maxCredits": 86400,

    "recCost": {
        "basic": {
            "upton": 60,
            "n": 4,
            "plus": 12
        },
        "hq": {
            "upton": 120,
            "n": 4,
            "plus": 24
        }
    },

    "limits": {
        "simultaneous": 4,
        "lobbies": 64,
        "tracksFree": 8,
        "tracksPaid": 64,
        "recNameLength": 512,
        "recUsernameLength": 32,
        "lobbyNameLength": 512,
        "soundNameLength": 512,
        "soundSize": 1073741824,
        "soundDurationTotal": 7200
    },

    "subscription": {
        "basic": 1000,
        "hq": 1500
    },

    "google": {
        "clientId": "",
        "secret": ""
    },

    "firebase": {
        "config": {
            "apiKey": "",
            "authDomain": "",
            "databaseURL": "",
            "projectId": "",
            "storageBucket": "",
            "messagingSenderId": "",
            "appId": ""
        },
        "serviceAccountKey": "~/firebase-adminsdk.json"
    },

    "facebook": {
        "appId": "",
        "secret": ""
    },

    "discord": {
        "clientId": "",
        "secret": ""
    },

    "paypal": {
        "minimum": 200,
        "api": "api.paypal.com",
        "clientId": "",
        "secret": "",
        "subscription": "... replace this string with the output from subscription/create-paypal.js ..."
    },

    "stripe": {
        "minimum": 1000,
        "public": "",
        "secret": "",
        "subscription": "... replace this string with the output from subscription/create-stripe.js ..."
    }
}
