{
    "site": "https://ennuicastr.com/",
    "panel": "https://ennuicastr.com/panel/",
    "client": "https://r.ennuicastr.com/",
    "clientRepo": "~/ennuicastr",
    "repo": "~/ennuicastr-server",
    "db": "~/ennuicastr-server/db",
    "rec": "~/ennuicastr-server/rec",
    "cert": "~/cert",
    "sock": "/tmp/ennuicastr-server.sock",

    "creditCost": {
        "currency": 100,
        "credits": 3600
    },
    "maxCredits": 86400,

    "recCost": {
        "basic": {
            "upton": 60,
            "n": 4,
            "plus": 12
        },
        "hq": {
            "upton": 120,
            "n": 4,
            "plus": 24
        }
    },

    "google": {
        "clientId": "",
        "secret": ""
    },

    "paypal": {
        "clientId": "",
        "secret": ""
    }
}
