#pre-ec {
    text-align: center;
}

#login-ec {
    display: inline-block;
    padding: 0.5em;
    background: #333;
    color: #fff;
    text-align: left;
    border: 2px solid black;
    border-radius: 0.5em;
}

#login-ec input[type="submit"] {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #ddd;
    border-color: #ddd;
    color: #000;
    padding: 0.5em;
}

#login-ec input[type="submit"]:hover {
    background-color: #fff;
    border-color: #fff;
}
